# Outline
1. import data
2. Pembuatan Peubah Dummy
3. Pembagian data (training testing)
4. Modeling
5. Prediksi Data Test

## 1. Import Data

In [105]:
import pandas as pd
import numpy as np

In [106]:
datatree_label = pd.read_csv('datatree_label.csv')
datatree_nolabel = pd.read_csv('datatree_nolabel.csv')

In [107]:
datatree_label.head()

,ID Nasabah,Jenis Kelamin,Single,Tinggal di Kota,usia,Perokok,Budget,Kesukaan,Tertarik Beli?
0,609,1,1,0,39,0,medium,Tekno,1
1,424,1,1,0,39,0,medium,Tekno,1
2,983,0,1,1,39,0,low,Seni,0
3,520,1,1,0,32,1,low,Seni,1
4,868,1,1,0,38,0,low,Tekno,0

In [108]:
datatree_nolabel.head()

,ID Nasabah,Jenis Kelamin,Single,Tinggal di Kota,usia,Perokok,Budget,Kesukaan
0,436,1,1,1,34,0,medium,Busana
1,403,0,1,0,33,0,low,Tekno
2,119,0,1,0,38,1,low,Tekno
3,565,1,1,1,32,0,medium,Seni
4,281,0,0,0,29,0,low,Tekno

## 2. Pembuatan Pubah dummy

samakan struktur

In [109]:
datatree_nolabel['Tertarik Beli?'] = 9999

In [110]:
datatree_nolabel.head()

,ID Nasabah,Jenis Kelamin,Single,Tinggal di Kota,usia,Perokok,Budget,Kesukaan,Tertarik Beli?
0,436,1,1,1,34,0,medium,Busana,9999
1,403,0,1,0,33,0,low,Tekno,9999
2,119,0,1,0,38,1,low,Tekno,9999
3,565,1,1,1,32,0,medium,Seni,9999
4,281,0,0,0,29,0,low,Tekno,9999

gabungkan kedua data

In [111]:
datatree = datatree_label.append(datatree_nolabel)

In [112]:
datatree.tail()

,ID Nasabah,Jenis Kelamin,Single,Tinggal di Kota,usia,Perokok,Budget,Kesukaan,Tertarik Beli?
104,960,0,1,1,28,0,medium,Busana,9999
105,501,1,1,0,39,0,low,Lainnya,9999
106,231,0,1,0,34,0,high,Seni,9999
107,292,1,1,0,35,0,medium,Tekno,9999
108,481,1,1,0,37,0,low,Seni,9999

pendefinisian data

In [113]:
## definisikan nilai-nilai pada peubah
datatree['Jenis Kelamin'] = datatree['Jenis Kelamin'].map({1:'Laki-Laki',
                                                           0:'Perempuan'})
datatree['Single'] = datatree['Single'].map({1:'Single',
                                             0:'Tidak Single'})
datatree['Tinggal di Kota'] = datatree['Tinggal di Kota'].map({1:'Tinggal di kota',
                                                               0:'Tinggal di pedesaan'})
datatree['Perokok'] = datatree['Perokok'].map({1:'Perokok',
                                               0:'Bukan Perokok'})

In [114]:
datatree.head()

,ID Nasabah,Jenis Kelamin,Single,Tinggal di Kota,usia,Perokok,Budget,Kesukaan,Tertarik Beli?
0,609,Laki-Laki,Single,Tinggal di pedesaan,39,Bukan Perokok,medium,Tekno,1
1,424,Laki-Laki,Single,Tinggal di pedesaan,39,Bukan Perokok,medium,Tekno,1
2,983,Perempuan,Single,Tinggal di kota,39,Bukan Perokok,low,Seni,0
3,520,Laki-Laki,Single,Tinggal di pedesaan,32,Perokok,low,Seni,1
4,868,Laki-Laki,Single,Tinggal di pedesaan,38,Bukan Perokok,low,Tekno,0

pembuatan dummy

In [115]:
print("peubah awal:\n", list(datatree),"\n")

peubah awal:
 ['ID Nasabah', 'Jenis Kelamin', 'Single', 'Tinggal di Kota', 'usia', 'Perokok', 'Budget', 'Kesukaan', 'Tertarik Beli?']

In [116]:
peubah = list(datatree)[1:4]+list(datatree)[5:8]
peubah

['Jenis Kelamin', 'Single', 'Tinggal di Kota', 'Perokok', 'Budget', 'Kesukaan']

In [117]:
# pembuatan peubah boneka secara otomatis untuk semua peubah kategorik
datatree_dummies = pd.get_dummies(datatree,drop_first=True,columns=peubah)
print("peubah setelah dummy dibuat:\n", list(datatree_dummies),"\n")

peubah setelah dummy dibuat:
 ['ID Nasabah', 'usia', 'Tertarik Beli?', 'Jenis Kelamin_Perempuan', 'Single_Tidak Single', 'Tinggal di Kota_Tinggal di pedesaan', 'Perokok_Perokok', 'Budget_low', 'Budget_medium', 'Kesukaan_Lainnya', 'Kesukaan_Seni', 'Kesukaan_Tekno']

pemisahan kembali

In [145]:
datatree_label = datatree_dummies[datatree_dummies['Tertarik Beli?'] != 9999]
datatree_nolabel = datatree_dummies[datatree_dummies['Tertarik Beli?'] == 9999]

In [146]:
datatree_label.head()

,ID Nasabah,usia,Tertarik Beli?,Jenis Kelamin_Perempuan,Single_Tidak Single,Tinggal di Kota_Tinggal di pedesaan,Perokok_Perokok,Budget_low,Budget_medium,Kesukaan_Lainnya,Kesukaan_Seni,Kesukaan_Tekno
0,609,39,1,0,0,1,0,0,1,0,0,1
1,424,39,1,0,0,1,0,0,1,0,0,1
2,983,39,0,1,0,0,0,1,0,0,1,0
3,520,32,1,0,0,1,1,1,0,0,1,0
4,868,38,0,0,0,1,0,1,0,0,0,1

In [147]:
datatree_nolabel.head()

,ID Nasabah,usia,Tertarik Beli?,Jenis Kelamin_Perempuan,Single_Tidak Single,Tinggal di Kota_Tinggal di pedesaan,Perokok_Perokok,Budget_low,Budget_medium,Kesukaan_Lainnya,Kesukaan_Seni,Kesukaan_Tekno
0,436,34,9999,0,0,0,0,0,1,0,0,0
1,403,33,9999,1,0,1,0,1,0,0,0,1
2,119,38,9999,1,0,1,1,1,0,0,0,1
3,565,32,9999,0,0,0,0,0,1,0,1,0
4,281,29,9999,1,1,1,0,1,0,0,0,1

## 3. Pembagian data

In [148]:
peubah_penjelas = list(datatree_dummies)[3:]+['usia']
peubah_penjelas

['Jenis Kelamin_Perempuan',
 'Single_Tidak Single',
 'Tinggal di Kota_Tinggal di pedesaan',
 'Perokok_Perokok',
 'Budget_low',
 'Budget_medium',
 'Kesukaan_Lainnya',
 'Kesukaan_Seni',
 'Kesukaan_Tekno',
 'usia']

In [168]:
y = datatree_label['Tertarik Beli?']

In [169]:
from sklearn.model_selection import train_test_split

In [170]:
X_train, X_test, y_train, y_test = train_test_split(datatree_label[peubah_penjelas],y)

In [171]:
print('dimensi data train :',X_train.shape)
print('dimensi data test :',X_test.shape)

dimensi data train : (731, 10)
dimensi data test : (244, 10)

## 4. Modeling

### a. Regresi Logistik

In [172]:
from sklearn.linear_model import LogisticRegression

In [173]:
logreg = LogisticRegression()

In [174]:
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [175]:
logreg.score(X_test,y_test)

0.91393442622950816

### b. Pohon Keputusan

In [176]:
from sklearn.tree import DecisionTreeClassifier

In [177]:
tree = DecisionTreeClassifier()

In [178]:
tree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [179]:
tree.score(X_test,y_test)

0.90573770491803274

### c. Random Forest

In [180]:
from sklearn.ensemble import RandomForestClassifier

In [181]:
rf = RandomForestClassifier()

In [182]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [183]:
rf.score(X_test,y_test)

0.89754098360655743

## 5. Submission

In [184]:
logreg.fit(datatree_label[peubah_penjelas],y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [186]:
datatree_nolabel['Tertarik Beli?'] = logreg.predict(datatree_nolabel[peubah_penjelas])

C:\Users\Muy\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [188]:
datatree_nolabel.head()

,ID Nasabah,usia,Tertarik Beli?,Jenis Kelamin_Perempuan,Single_Tidak Single,Tinggal di Kota_Tinggal di pedesaan,Perokok_Perokok,Budget_low,Budget_medium,Kesukaan_Lainnya,Kesukaan_Seni,Kesukaan_Tekno
0,436,34,1,0,0,0,0,0,1,0,0,0
1,403,33,0,1,0,1,0,1,0,0,0,1
2,119,38,0,1,0,1,1,1,0,0,0,1
3,565,32,1,0,0,0,0,0,1,0,1,0
4,281,29,0,1,1,1,0,1,0,0,0,1

In [190]:
sumbmission = datatree_nolabel[['ID Nasabah','Tertarik Beli?']]

In [191]:
sumbmission.head()

   ID Nasabah  Tertarik Beli?
0         436               1
1         403               0
2         119               0
3         565               1
4         281               0