bentuklah dictionary di bawah ini ke dalam dataframe dan jawab pertanyaan berikut :
1. berapkah poin masing-masing tim pada tahun 2010 ...
2. berapkah poin masing-masing tim pada tahun 2011 ...
3. berapkah poin masing-masing tim pada tahun 2012 ...
4. siapakah juara pada tahun 2010, 2011, 2011 secara berturut turut ...
5. berapa banyak kemenangan yang diraih barcelona pada tahun 2011 dan 2012 ..

menang 3 poin,
seri 1 poin,
kalah 0 poin dan poin tertinggi adalah juara pada tahun tersebut

In [15]:
data = {'year':[
    2010,2011,2012,
    2010,2011,2012,
    2010,2011,2012
],'team':[
    'FCBarcelona','FCBarcelona',
    'FCBarcelona','RMadrid',
    'RMadrid','RMadrid',
    'Valencia CF','Valencia CF',
    'Valencia CF'
],
       'Wins':[30,32,32,29,32,26,21,17,19],
       'draws':[4,1,4,5,4,7,8,10,8],
       'losses':[4,5,2,4,2,5,9,11,11]}

jawaban

In [27]:
import pandas as pd

In [28]:
football = pd.DataFrame(data,columns=['year','team','Wins','draws','losses'])

In [29]:
football

   year         team  Wins  draws  losses
0  2010  FCBarcelona    30      4       4
1  2011  FCBarcelona    32      1       5
2  2012  FCBarcelona    32      4       2
3  2010      RMadrid    29      5       4
4  2011      RMadrid    32      4       2
5  2012      RMadrid    26      7       5
6  2010  Valencia CF    21      8       9
7  2011  Valencia CF    17     10      11
8  2012  Valencia CF    19      8      11

In [40]:
football ['points'] =  football['Wins']*3 + football['draws']

In [41]:
# jawaban
football

   year         team  Wins  draws  losses  points
0  2010  FCBarcelona    30      4       4      94
1  2011  FCBarcelona    32      1       5      97
2  2012  FCBarcelona    32      4       2     100
3  2010      RMadrid    29      5       4      92
4  2011      RMadrid    32      4       2     100
5  2012      RMadrid    26      7       5      85
6  2010  Valencia CF    21      8       9      71
7  2011  Valencia CF    17     10      11      61
8  2012  Valencia CF    19      8      11      65

import kembali dataframe 'edu' :

1. ketika nilai dari variabel value dibatasi 6.5 < Value < 7, berapkah rata-rata dari variabel value untuk Belgia
2. ada berapakah missing value pada variabel Value

jawaban

In [42]:
edu = pd.read_csv('educ_figdp_1_Data.csv',
                  na_values=':',
                  usecols=["TIME","GEO","Value"])

In [53]:
edu2 = edu[(edu['Value']>6.5)&(edu['Value']<7)]

In [61]:
edu2[edu2['GEO']=='Belgium']['Value'].mean()

6.566666666666666

In [64]:
edu.isnull().sum()

TIME      0
GEO       0
Value    23
dtype: int64